<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
<body>
	<div th:replace="navigation :: navigation"></div>
	<h3>This is the Book Details Page</h3>
	<p><b>Title:</b> Wings of Fire</p>
	<p><b>Author:</b> Dr. APJ Abdul Kalam</p>
	<p><b>Price:</b> Rs.250</p>
	<div th:replace="footer :: footer"></div>
</body>
</html>
